<hc-navbar [brandIcon]="avatarUrl" appIcon="assets/joe-skeen.png">
  <hc-navbar-link
    linkText="Home"
    routerLink="/"
    [exact]="true"
  ></hc-navbar-link>
  <!-- <hc-navbar-link linkText="Portfolio" routerLink="/portfolio"></hc-navbar-link> -->
  <hc-navbar-link linkText="Schedule" routerLink="/schedule"></hc-navbar-link>
  <!-- <hc-navbar-link
    linkText="Advent of Code"
    routerLink="/advent-of-code"
  ></hc-navbar-link> -->
  <hc-navbar-link linkText="Pay" routerLink="/pay"></hc-navbar-link>
  <a
    hc-button
    buttonStyle="minimal"
    size="md"
    class="resume"
    href="assets/JoeSkeen-Resume.pdf"
    target="_blank"
  >
    <hc-icon fontSet="fa" fontIcon="fa-file-text"></hc-icon>
    <span>Resume</span>
  </a>
</hc-navbar>

<div class="body">
  <router-outlet></router-outlet>
</div>
