@import "~@healthcatalyst/cashmere/scss/colors";

:host {
  display: flex;
  flex-direction: column;
}

hc-navbar {
  filter: drop-shadow(0 0 10px $shadow);

  hc-navbar-link {
    cursor: pointer;
    user-select: none;
  }
}

.body {
  padding: 20px;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
