<div class="content-container">
  <h2>
    Need help with
    <!-- JS/TS/NG/C#/Node/PS/Azure  -->
    <img
      class="tech-logo"
      title="JavaScript"
      alt="JavaScript"
      src="assets/javascript.png"
    />
    <img
      class="tech-logo"
      title="TypeScript"
      alt="TypeScript"
      src="assets/typescript.png"
    />
    <img class="tech-logo" title="C#" alt="C#" src="assets/c-sharp.png" />
    <img
      class="tech-logo"
      title="PowerShell"
      alt="PowerShell"
      src="assets/powershell.png"
    />
    <img
      class="tech-logo"
      title="Angular"
      alt="Angular"
      src="assets/angular.png"
    />
    <img
      class="tech-logo"
      title="NodeJS"
      alt="NodeJS"
      src="assets/nodejs.png"
    />
    <img class="tech-logo" title="Azure" alt="Azure" src="assets/azure.png" />

    or anything else? Let's do this!
  </h2>
  <p>
    I offer the following services through
    <a href="https://www.codementor.io/@joeskeen" title="My Codementor profile"
      >codementor.io</a
    >:
  </p>
  <ul>
    <li>🧭 Mentorship (short-term or long-term)</li>
    <li>🐞 Debugging assistance</li>
    <li>🕵 Code reviews</li>
    <li>👔 Interview practice</li>
    <li>👷‍♂️ Freelance jobs</li>
  </ul>
  <p>I also offer the following promotions:</p>
  <ul>
    <li>💸 First 15 minutes free for new Codementor users</li>
    <li>🎓 Discounted rate for Codementor users that are verified students</li>
  </ul>
  <p>
    Use the widget below to browse my availability and book an appointment.
    <strong>Times are displayed in your computer's time zone.</strong>
  </p>
</div>
<div #calendlyContainer class="calendly-container"></div>
