<div class="container">
  <h2>The <a href="https://adventofcode.com/2022">Advent of Code 2022</a> in progress!</h2>
  <div>
    <h3>Next Stream: Day 2 at 11:30am MST (UTC-7)</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nMux3lL7sSA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p>Check back for updates to the livestream schedule!</p>
  <p>
    Current plan: stream at 11:30am MST (UTC-7) daily, excluding Sunday; 
    on Saturdays I'll try to catch up if needed.
  </p>  
  <div>
    <h3>Day 1: Calorie Counting</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/irSimcquV6M" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>