<div class="flex">
  <div class="hero">
    <h1>Joe Skeen</h1>
    <h3>Developer and Mentor</h3>
    <div class="social">
      <a
        href="https://github.com/joeskeen"
        target="_blank"
        title="Github"
        hc-icon-button
      >
        <hc-icon
          class="social-link"
          fontSet="fa"
          fontIcon="fa-github"
          hcIconLg
        ></hc-icon>
      </a>
      <a href="https://twitter.com/joeskeenjr" target="_blank" title="Twitter">
        <hc-icon
          class="social-link"
          fontSet="fa"
          fontIcon="fa-twitter"
          hcIconLg
        ></hc-icon>
      </a>
      <a
        href="https://stackoverflow.com/users/1396477/joe-skeen"
        target="_blank"
        title="Stack Overflow"
      >
        <hc-icon
          class="social-link"
          fontSet="fa"
          fontIcon="fa-stack-overflow"
          hcIconLg
        ></hc-icon>
      </a>
      <a href="https://medium.com/@joeskeen" target="_blank" title="Medium">
        <hc-icon
          class="social-link"
          fontSet="fa"
          fontIcon="fa-medium"
          hcIconLg
        ></hc-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/josephskeenjr/"
        target="_blank"
        title="LinkedIn"
      >
        <hc-icon
          class="social-link"
          fontSet="fa"
          fontIcon="fa-linkedin"
          hcIconLg
        ></hc-icon>
      </a>
      <a
        href="https://www.codementor.io/@joeskeen"
        target="_blank"
        title="Codementor"
      >
        <svg class="social-link codementor">
          <filter id="recolor" color-interpolation-filters="sRGB">
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 -1 
                      .56 .56 .56 0 -1 
                      1 1 1 0 -1 
                      0 0 0 1 0"
            />
          </filter>

          <image
            filter="url(#recolor)"
            height="36px"
            preserveAspectRatio="xMinYMin slice"
            xlink:href="assets/codementor.png"
          />
        </svg>
      </a>
    </div>
    <a
      href="https://www.credly.com/badges/a31df9da-07f6-4b37-a711-948398e699b4/public_url"
      title="Click to verify my Azure Administrator certification."
      ><img
        class="certification-badge"
        src="assets/microsoft-certified-azure-administrator-associate.2.png"
        alt="Microsoft Certified Azure Administrator Associate"
    /></a>
  </div>

  <hc-tile class="review-container">
    <ng-container *ngIf="!reviews">
      <span class="loadingText">loading reviews...</span>
    </ng-container>

    <ng-container *ngIf="reviews">
      <h2>What clients have to say about me:</h2>
      <hc-list class="reviews">
        <hc-list-item *ngFor="let review of reviews">
          <hc-icon
            hcListIcon
            *ngIf="!review.reviewer.avatarUrl"
            fontSet="fa"
            fontIcon="fa-user"
          ></hc-icon>
          <img
            hcListIcon
            *ngIf="review.reviewer.avatarUrl"
            [src]="review.reviewer.avatarUrl"
          />

          <h4 hcListLine>{{ review.reviewer.name }}</h4>
          <p hcListLine class="reviewText">{{ review.review }}</p>
        </hc-list-item>
      </hc-list>
      <p>
        See more of my reviews at my
        <a href="https://codementor.io/@joeskeen" target="_blank"
          >Codementor.io profile page</a
        >.
      </p>
    </ng-container>
  </hc-tile>
</div>
